[Unit]
Description=RPI iftop network monitoring service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/var/www/html/config/iftop-rpi-service.sh &
ExecStop=pkill /var/www/html/config/iftop-rpi-service.sh

[Install]
WantedBy=multi-user.target
